*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

.gigaconteneur,
.section {
    height: 100vh;
}

h1 {
    text-transform: uppercase;
    font-family: 'Navada', sans-serif;
    font-size: 4rem;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}

header {
    background: radial-gradient(#383838, #000000 60%);
}

.container, .bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls {
    display: flex;
    align-items: center;
}
.slider-container {
    display: flex;
    flex-grow: 1;
    max-width: 600px; /* Ajuste selon tes besoins */
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espace entre le bouton et la barre */
}

#start-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
}


#timeline-slider {
    width: 100%;
    max-width: 600px;
}

#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#chart-containeur {
    position: relative;
}

.popup-content {
    background-color: #000;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

#chart-containeur:hover {
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

input[type="range"] {
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(64, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
