*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

.accueil {
    height: 100vh;
    background-image: url(media/accueil_DTZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.explication {
    max-width: 720px;
    padding-bottom: 25px;
}

.link {
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.1em;
    background-color: #3b3737;
    color: white;
    padding: 8px;
    font-family: "Helvetica Neue", sans-serif;
}

.link:hover {
    color: #3b3737;
    background-color: rgb(223, 223, 223);
    transition: 0.3s;
}

.content-sportiz {
    margin: 54vh 15vh 0 15vh;
}

.section-graph {
    height: 100vh;
    display: flex;
    margin: auto;
}

.section {
    height: 100vh;
}

.container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Navada Demo';
    font-size: 6rem;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 3.5vh;
}

.iz {
    font-family: 'Navada';
    font-style: normal;
}

#timeline-slider {
    -webkit-appearance: none; /* Chrome/Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
    width: 100%;
    height: 8px;
    background: rgb(243, 240, 240);
    border-radius: 4px;
    outline: none;
    position: relative;
    --progress-color: #908f8f;
    --thumb-color: #ffffff;
    --value: 0%;
}
#timeline-slider::before /* obligé de faire ça pour que la barre de défilement s'affiche avant le bouton sur chrome*/ {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: var(--value);
    background: var(--progress-color);
    border-radius: 4px;
    pointer-events: none; /* Empêche d'interagir avec cette barre */
    z-index: 0; 
}
/* Curseur pour Chrome/Safari/Edge*/
#timeline-slider::-webkit-slider-thumb {
 -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background: var(--thumb-color);
    border: 2px solid var(--progress-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    
}

/* Curseur pour Firefox */
#timeline-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: var(--thumb-color);
    border: 2px solid var(--progress-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

/* Supprimer les marges par défaut pour Firefox, obligé de faire ça sinon ça marche pas  */
#timeline-slider::-moz-range-progress {
    background: var(--progress-color);
    height: 8px;
    border-radius: 4px;
}

/* Effet d'agrandissement au survol pour Firefox */
#timeline-slider:hover::-moz-range-thumb {
    transform: scale(1.1);
}

#timeline-slider:hover::-webkit-slider-thumb {
    transform: scale(1.1);
}

.section-graph {
    background: radial-gradient(#242424, #000000 60%);
}

.container, .bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls {
    display: flex;
    align-items: center;
}
.slider-container {
    display: flex;
    flex-grow: 1;
    max-width: 930px; /* Ajuste selon tes besoins */
    width: 100%;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /* Espace entre le bouton et la barre */
    width: 100%;
    transform: translateY(-30px);
}

#start-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 3px;
    color: white;
}

#timeline-slider {
    width: 100%;
}

.popup {
    display: none; /* Caché par défaut */
    position: fixed; /* Fixé en haut de la page */
    z-index: 1; /* Au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4); /* Fond sombre */
}

#chart-containeur {
    position: relative;
}

.popup-content {
    background-color: #131313;/* Fond sombre pour le contenu */
    margin: 5% auto; /* Marge de 5% depuis le haut */
    padding: 20px 30px 30px 30px;
    border: 1px solid #888; /* Bordure gris clair */
    width: 80%; /* Largeur de 80% de la fenêtre */
    max-height: 80%; /* Hauteur maximale de 80% de la fenêtre */
    overflow-y: auto; /* Défilement vertical si nécessaire */
    text-align: left; /* Texte aligné à gauche */
    border-radius: 8px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

#chart-containeur:hover {
    color: white;
}

.close {
    color: white; /* Couleur gris clair */
    float: right; /* Aligner à droite */
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
}

input[type="range"] {
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #aaa; /* Couleur au survol */
    text-decoration: none;
    cursor: pointer;
}
.content {
    transform: translate(30%, 70%);
    max-width: fit-content;
}

.sport-name {
    font-size: 9em;
    margin: 0;
    font-family: 'Navada Demo', sans-serif;
    color: white;
}

.description, .explication {
    font-size: 1.2em;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}

.football-title {
    color: #CEBD60;
}

.tennis-title {
    color: #8f2929; 
}

.equitation-title {
    color: #6F4B38; 
}

.judo-title {
    color: #1c3995;
}

.basketball-title {
    color: #533C80;
}

.handball-title {
    color: #a4623e;
}

.golf-title {
    color: #9a2828;
}

.rugby-title {
    color: #9a2828;
}

.natation-title {
    color: #394B77;
}

.athletisme-title {
    color: #4E876A;
}

.gymnastique-title {
    color: #A56B81;
}

.footer {
    background-color: #131313;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    padding: 20px;
    height: 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-left h3 {
    text-transform: uppercase;
    font-family: 'Navada Demo';
    font-size: 3rem;
    margin: 0;
  
}
.footer-left a {
    text-decoration: none;
    color: inherit;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 30px;
}

.popupstyle a {
    text-decoration: none; 
    color: white;
    font-size: 18px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", sans-serif;
}

.popupstyle a:hover {
    color: #ddd;
    transition: 0.2s;
}
.separator {
    display: inline-block;
    color: #fff; 
    font-size: 1.3rem; 
    margin: 0; 
    line-height: 1; 
}

.h3 {
    margin-top: 10px;
}