*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}
.gigaconteneur {
    height: 100vh;
}
h1 {
    text-transform: uppercase;
    font-family: 'Navada', sans-serif;
    /* font-family: 'Navada Demo', sans-serif; */
    font-size: 4rem;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}

header {
    
    background: radial-gradient(#383838, #000000 60%);
}
.section {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#replay-button {
    padding: 5px;
}
#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#chart-containeur {
  position: relative;
}
.popup-content {
    background-color: #000000;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}