*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

.accueil {
    height: 100vh;
    background-image: url(media/accueil_DTZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.explication {
    max-width: 720px;
    padding-bottom: 25px;
}

.link {
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.1em;
    background-color: #3b3737;
    color: white;
    padding: 8px;
    font-family: "Helvetica Neue", sans-serif;
}

.link:hover {
    color: #3b3737;
    background-color: rgb(223, 223, 223);
    transition: 0.3s;
}

.content-sportiz {
    margin: 54vh 15vh 0 15vh;
}

.section-graph {
    height: 100vh;
    display: flex;
    margin: auto;
}

.section {
    height: 100vh;
}

.container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    font-family: 'Navada Demo';
    font-size: 6rem;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 3.5vh;
}

.iz {
    font-family: 'Navada';
    font-style: normal;
}
#timeline-slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 10px;
    background: #CACACA; 
    opacity: 0.6;
    border-radius: 5px; 
    outline: none; 
    transition: background 0.3s ease; 
}

#timeline-slider::before {
    content: '';
    width: var(--value, 0%);
    height: 10px;
    background: #A09B5B;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: -1;
}

/* Personnalisation pour Firefox */
#timeline-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #5f5f5f;
    border-radius: 50%;
    cursor: pointer;
}
/* Personnalisation pour les barres de défilement sur d'autres navigateurs */
#timeline-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #CEBD60;
    border-radius: 50%;
    cursor: pointer;
}


/* Partie du slider déjà défilée pour les navigateurs WebKit (Chrome, Safari) */
#timeline-slider::-webkit-slider-runnable-track {
    background: blue;
    border-radius: 5px;
    height: 10px;
}

/* Pour les navigateurs Firefox */
#timeline-slider::-moz-range-track {
    background: linear-gradient(to right, #2319b9 0%, #2319b9 var(--value, 0%), #CACACA var(--value, 0%), #CACACA 100%);
    border-radius: 5px;
    height: 10px;
}

/* Pour les navigateurs Internet Explorer et Edge */
#timeline-slider::-ms-track {
    background: linear-gradient(to right, #A09B5B 0%, #A09B5B var(--value, 0%), #CACACA var(--value, 0%), #CACACA 100%);
    border-radius: 5px;
    height: 10px;
    border-color: transparent; /* Supprime les bordures par défaut */
    color: transparent; /* Supprime la couleur par défaut */
}

.section-graph {
    background: radial-gradient(#242424, #000000 60%);
}

.container, .bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls {
    display: flex;
    align-items: center;
}
.slider-container {
    display: flex;
    flex-grow: 1;
    max-width: 930px; /* Ajuste selon tes besoins */
    width: 100%;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /* Espace entre le bouton et la barre */
    width: 100%;
    transform: translateY(-30px);
}

#start-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 3px;
}


#timeline-slider {
    width: 100%;
}

#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#chart-containeur {
    position: relative;
}

.popup-content {
    background-color: #000;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

#chart-containeur:hover {
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

input[type="range"] {
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(64, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.content {
    transform: translate(30%, 70%);
    max-width: fit-content;
}

.sport-name {
    font-size: 9em;
    margin: 0;
    font-family: 'Navada Demo', sans-serif;
    color: white;
}

.description, .explication {
    font-size: 1.2em;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}

.football-title {
    color: #CEBD60;
}

.tennis-title {
    color: #8f2929; 
}

.equitation-title {
    color: #6F4B38; 
}

.judo-title {
    color: #1c3995;
}

.basketball-title {
    color: #533C80;
}

.handball-title {
    color: #a4623e;
}

.golf-title {
    color: #9a2828;
}

.rugby-title {
    color: #9a2828;
}

.natation-title {
    color: #394B77;
}

.athletisme-title {
    color: #4E876A;
}

.gymnastique-title {
    color: #A56B81;
}

.footer {
    height: 100px;
    background-color: #131313;
}